[submodule "third-party/asar"]
	path = third-party/asar
	url = https://github.com/RPGHacker/asar.git
	branch = asar_19
[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third-party/lodepng"]
	path = third-party/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "third-party/--force"]
	path = third-party/--force
	url = https://github.com/jarro2783/cxxopts.git
