*.o
*.exe
*.spc
.DS_Store
# .vscode		# I like my scripts too much.

# Exclude every leftover from Cmake.
build/
**/build/

!**/addmusick/
**/addmusick
tempmain.asm

deploy/asm/SFX1DF9Table.bin
deploy/asm/SFX1DFCTable.bin
deploy/asm/SFXData.bin
deploy/asm/main.bin
deploy/asm/tempmain.asm
deploy/asm/SNES/SongSampleList.asm
deploy/asm/SNES/bin/

deploy/stats/*
deploy/SPCs/*
deploy/Visualizations/*
temp.asm
temp.bin
temp.log
temp.txt

*.sfc
*.msc
*.sfc~
*.srm

# Ignore deployed binaries
deploy/AddmusicK
deploy/AddmusicK.exe
deploy/libasar.so
deploy/asar.dll